# İşletim sistemi ve editör dosyaları
.DS_Store
.idea/
.vscode/
.iml
*.iml
.classpath
.project
.settings/
Thumbs.db
Desktop.ini

# Build dizinleri ve derleme çıktıları
build/
.gradle/
.flutter-plugins
.flutter-plugins-dependencies
.dart_tool/
.packages
.metadata
.fvm/
GeneratedPluginRegistrant.java
GeneratedPluginRegistrant.h
GeneratedPluginRegistrant.m
GeneratedPluginRegistrant.swift
*gradle.properties.template*
*local.properties*
*gradle-wrapper.properties.template*

# Bağımlılıklar
.pub-cache/
node_modules/
.npm/

# IDE / Kullanıcı spesifik dosyalar (Sizin durumunuz için eklediklerim)
**/AppData/
**/BBM*/
**/PycharmProjects/
**/IdeaProjects/
**/GitKursu/GitHubTest/test.txt
**/javason/
**/deneyapkartide/
**/b2230765035/
**/java_error_in_idea.hprof
**/jcef_*.log
**/ntuser.dat*
**/o1.txt
**/odev*/
**/public class HelloWorld {.java
**/text_staticts.py
**/source/
**/sensör/
**/280bmpe/
**/AndroidStudioProjects/
**/Contacts/
**/Copy of inputs.zip
**/Copy of outputs.zip
**/DataProject/
**/Desktop/
**/Documents/
**/Downloads/
**/Embedded Systems/
**/Favorites/
**/GitKursum/
**/"Hİ-KOD 1. Atölye"/
**/IMAGE/
**/"JAVA ÖRNEKLERİ"/
**/JAVA/
**/JavaKitabi/
**/Links/
**/Music/
**/OneDrive/
**/PYTHONANGELA/
**/PyCharmMiscProject/
**/STM32Cube/
**/STM32CubeIDE/
**/STMicroelectronics/
**/Saved Games/
**/Searches/
**/"Sertifikalarım"/
**/VentureTechAI/
**/Videos/
**/WPS Cloud Files/
**/b2230765035.zip
**/data/
**/datasciencekodluyoruz/
**/deneyapkartide/
**/embedded_systemsrocket/
**/hi-kod
**/java1/
**/myfile.txt
**/playing_with_linux_cmd/
**/verimetut/

# Logs
*.log

# Temporary files
*~
*.swp
*.bak
*.tmp